# Gradle files
.gradle/
build/
*/build

# keystore file
extras/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ project files
*.iml
.idea/

# Android Studio captures folder
captures/

# Misc
.DS_Store

# svn temp directory
tmp_commit/
wallet/src/test/
framework/src/test/

