<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juzix.wallet"
    xmlns:tools="http://schemas.android.com/tools">
    <!--获取手机通讯权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 微信需要往sd卡写入二维码 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--发短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 振动器权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--Detect boot toAddress invalidate TrueTime-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--ly-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/logo"
        tools:replace="android:roundIcon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".component.ui.view.SplashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".component.ui.view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".component.ui.view.OperateMenuActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".component.ui.view.CreateWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".component.ui.view.ImportWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".component.ui.view.BackupMnemonicPhraseActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.BackupWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.SelectAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".component.ui.view.AboutActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".component.ui.view.VerificationMnemonicActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.WalletManagerActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.ManageWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.ExportPrivateKeyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.ExportKeystoreActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.ScanQRCodeActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".component.ui.view.TransactionDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.AddressBookActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".component.ui.view.AddNewAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.TransactionRecordsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.NodeSettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.SettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.UnlockFigerprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.UnlockWithPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".component.ui.view.SwitchLanguageActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <!--Aton v0.7.0-->
        <activity
            android:name=".component.ui.view.DelegateRecordActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.DelegateDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.ValidatorsDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.WithDrawActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".component.ui.view.DelegateActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".component.ui.view.OfficialCommunityActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.CommonHybridActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.ui.view.TransactionAuthorizationDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--facebook-->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".component.service.LoopService"
            android:exported="false">
            <intent-filter>
                <action android:name=".component.service.LoopService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider559301874845515"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>